{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Google Contacts</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
          <a class="navbar-brand" href="#">Google Contacts</a>
          <ul class="navbar-nav mr-auto">
            <!--<li class="nav-item">-->
              <!--<a class="nav-link js-scroll-trigger" href="google_contacts_app">Google contacts app</a>-->
            <!--</li>-->
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="google/login">Google login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="privacy_policy">Privacy policy</a>
            </li>
            <!--<li class="nav-item">-->
              <!--<a class="nav-link js-scroll-trigger" href="admin">Admin</a>-->
            <!--</li>-->
          </ul>
          <!--<span class="navbar-text mr-2">-->
            <!--Currently logged in as-->
          <!--</span>-->
          <!--<a href="/google/logout" class="btn btn-primary" role="button" aria-pressed="true">Logout</a>-->
          <!--<button onclick="getLinkWhastapp()">whatsapp</button>-->
          <!--<a href="/google/add_contact" class="btn btn-primary" role="button" aria-pressed="true">Add contact</a>-->
      </div>
    </nav>
    {% if success%}}
    <h2>contact {{success}} was saved</h2>
    {%endif%}
    <!--<section id="contact">-->
      <!--<div class="container">-->
        <!--<h2 class="text-center">Add Contact</h2>-->
        <!--<hr class="star-primary">-->
        <!--<div class="row">-->
          <!--<div class="col-lg-8 mx-auto">-->
            <!--&lt;!&ndash; To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. &ndash;&gt;-->
            <!--&lt;!&ndash; The form should work on most web servers, but if the form is not working you may need to configure your web server differently. &ndash;&gt;-->
            <!--<form name="sentMessage" id="addContactForm" novalidate>-->
              <!--<div class="control-group">-->
                <!--<div class="form-group floating-label-form-group controls">-->
                  <!--<label>crmuserid</label>-->
                  <!--<input class="form-control" id="crmuserid" type="text" placeholder="Name" required data-validation-required-message="Please enter your name.">-->
                  <!--<p class="help-block text-danger"></p>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="control-group">-->
                <!--<div class="form-group floating-label-form-group controls">-->
                  <!--<label>Contact Name</label>-->
                  <!--<input class="form-control" id="contact_name" type="text" placeholder="Name" required data-validation-required-message="Please enter your name.">-->
                  <!--<p class="help-block text-danger"></p>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="control-group">-->
                <!--<div class="form-group floating-label-form-group controls">-->
                  <!--<label>Email Address</label>-->
                  <!--<input class="form-control" id="email" type="email" placeholder="Email Address" required data-validation-required-message="Please enter your email address.">-->
                  <!--<p class="help-block text-danger"></p>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="control-group">-->
                <!--<div class="form-group floating-label-form-group controls">-->
                  <!--<label>Phone Number</label>-->
                  <!--<input class="form-control" id="phone" type="tel" placeholder="Phone Number" required data-validation-required-message="Please enter your phone number.">-->
                  <!--<p class="help-block text-danger"></p>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="control-group">-->
                <!--<div class="form-group floating-label-form-group controls">-->
                  <!--<label>Message</label>-->
                  <!--<input class="form-control" id="action_id" type="tel" placeholder="action_id" required data-validation-required-message="Please enter your phone number.">-->
                  <!--<p class="help-block text-danger"></p>-->
                <!--</div>-->
              <!--</div>-->
              <!--<br>-->
              <!--<div id="success"></div>-->
              <!--<div class="form-group">-->
                <!--<button type="submit" class="btn btn-success btn-lg" id="sendMessageButton">Send</button>-->
              <!--</div>-->
            <!--</form>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</section>-->

    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>-->
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>-->
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!--<script src="{% static 'js/jqBootstrapValidation.js' %}"></script>-->
    <script src="{% static 'js/add_contact.js' %}"></script>
    <script>
        $('.custom-file-input').on('change', function() {
            let fileName = $(this).val().split('\\').pop();
            $(this).next('.custom-file-label').addClass("selected").html(fileName);
        });
    </script>
  </body>
</html>